.container {
  display: flex;
  flex-direction: column;
}

.container > label {
  font-weight: 700;
  font-size: 14px;
  color: #232323;
  margin-bottom: 2px;
  @media screen and (max-width: 750px) {
    font-weight: 300;
    font-size: 10px;
  }
}

input {
  border: 1px solid #b0bed3;
  height: 50px;
  width: 388px;
  padding-inline: 1rem;
  margin-bottom: 6px;

  @media screen and (max-width: 750px) {
    margin-top: 2px;
    width: 220px;
  }
}

input::placeholder {
  padding: 0.5rem;
  font-weight: 400;
  font-size: 14px;
  color: #90a0b7;
  margin-left: 1px;
}

.error {
  color: red;
  font-size: 0.8rem;
  font-weight: bold;
}
