.section{
    padding-top: 2.56rem;
    margin-inline-end: 18rem;

    @media (max-width:820px) {
        margin-inline-end: 2rem;
    }
}
.select{
    color: #232323;
    font-size: 14px;
    font-weight: bold;
}
.card{
    margin-top: 10px;
}
.header{
    font-size: 20px;
    color: #232323;
    line-height: 19px;
    font-weight: bold;
}
.space{
    border-bottom: 1px solid #E8EAED!important;
    color: #E8EAED!important;
    margin-top: 22px;
    margin-bottom: 2rem;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
.flex div{
    display: flex;
    flex-direction: column;
    gap: 24px
}
.para {
    font-size: 16px;
    color: #CCCCCC;
    line-height: 19px;
    font-weight: bold;
}
.para span{
    color: #333333;
}